html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'aaarghnormal', sans-serif;
}

#page-container {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -100px;
}

#header {
    height: 150px;
    background: lightgray;
    position: relative;
}

#main {
    min-height: 600px;
    position: relative;
    padding: 30px 0;
}

#push {
    height: 100px;
}

#footer {
    height: 100px;
    background: lightgray;
    width: 100%;
}

.clear {
    clear: both;
}

#header h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.intro {
    text-align: right;
}

.intro h2 {
    margin-top: 0;
}

.intro p {
    font-size: 18px;
    line-height: 24px;
}

select {
    height: 40px;
    max-width: 300px;
    font-size: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: -5px;
}