html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'aaarghnormal', sans-serif;
}

#page-container {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -100px;
}

#header {
    height: 150px;
    background: lightgray;
    position: relative;
}

#main {
    min-height: 600px;
    position: relative;
    padding: 30px 0;
}

#push {
    height: 100px;
}

#footer {
    height: 100px;
    background: lightgray;
    width: 100%;
}

.wrapper {
    width: 990px;
    position: relative;
    margin: 0 auto;
    padding: 15px;
}

.clear {
    clear: both;
}

#header h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.intro {
    text-align: right;
}

.intro h2 {
    margin-top: 0;
}

.intro p {
    font-size: 18px;
    line-height: 24px;
}

.left-col-50 {
    float: left;
    width: 50%;
}

.right-col-50 {
    float: right;
    width: 50%;
}

.left-col-75 {
    float: left;
    width: 75%;
}

.right-col-75 {
    float: right;
    width: 75%;
}

select {
    height: 40px;
    max-width: 300px;
    font-size: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: -5px;
}

form {
    padding-bottom: 25px;
}

form .form-row {
    position: relative;
    margin-bottom: 25px;
}

form .form-row label {
    display: inline-block;
    min-width: 160px;
    margin-right: 20px;
    font-size: 25px;
}

form .form-row input {
    height: 40px;
    max-width: 300px;
    font-size: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: -5px;
}

form .form-row input[type="checkbox"] {
    width: auto;
    height: auto;
    border: none;
    padding: 0;
    margin: 0;
}

form .form-row input.small-input {
    width: 50px;
}

form .form-row textarea {
    border: 1px solid #999999;
    border-radius: 5px;
    width: 475px;
    height: 300px;
    font-size: 18px;
    padding: 10px;
    resize: none;
}

form .form-row input:focus,
form .form-row textarea:focus,
form .form-row input[type="checkbox"] {
    outline: none;
    border-color: #9ECAED;
    box-shadow: 0 0 10px #9ECAED;
}

form .form-row input.invalid:focus,
form .form-row textarea.invalid:focus,
form .form-row input[type="checkbox"].invalid {
    border-color: #c4c4c4;
    box-shadow: 0 0 10px #c4c4c4;
}

form .form-row input.form-btn {
    min-width: 100px;
    background-color: buttonface;
}

form .form-row input.form-btn:focus {
    border-color: darkgray;
    box-shadow: none;
}

form .form-row input.form-btn:hover {
    cursor: pointer;
    background-color: darkgray;
}
