/* isValid Default CSS Styles */
/* Version 1.0 */
/* Andy Summerfield */

.form-wrapper {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

form .form-row {
    position: relative;
    margin-bottom: 25px;
}

form .form-row label {
    display: inline-block;
    min-width: 115px;
    float: left;
    margin-right: 20px;
    font-size: 25px;
}

form .form-row input {
    height: 40px;
    max-width: 300px;
    font-size: 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: -5px;
}

form .form-row input.small-input {
    width: 50px;
}

form .form-row textarea {
    border: 1px solid #999999;
    border-radius: 5px;
    width: 475px;
    height: 300px;
    font-size: 18px;
    padding: 10px;
    resize: none;
}

form .form-row input:focus, 
form .form-row textarea:focus,
form .form-row input[type="checkbox"] {
    outline: none;
    border-color: #9ECAED;
    box-shadow: 0 0 10px #9ECAED;
}

form .form-row input[type="submit"]:focus {
    border-color: darkgray;
    box-shadow: none;
}

form .form-row input[type="submit"] {
    min-width: 100px;
    background-color: buttonface;
}

form .form-row input[type="submit"]:hover {
    cursor: pointer;
    background-color: darkgray;
}

form .form-row input.invalid {
    background: #FFBABA !important;
}

form .form-row .form-error {
    display: none;
    background: url('../img/Error.png') no-repeat;
    margin-top: 10px;
    height: 35px;
    font-size: 22px;
    text-indent: 45px;
    line-height: 35px;
}