html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#page-container {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -100px;
}

#header {
    height: 150px;
    position: relative;
}

#main {
    min-height: 600px;
    position: relative;
}

#push {
    height: 100px;
}

#footer {
    height: 100px;
    background: lightgray;
    width: 100%;
}

.wrapper {
    width: 960px;
    position: relative;
    margin: 0 auto;
}